@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
    --color-primary:#02836F;
    --primary-color:#02836F;
    --white:#fff;
    --text-color-1:#0B090A;
    --text-color-2:#2B2B2B;
    --text-color-3:#808080;
    --text-color-4:#AAA;
    --text-color-5:#D4D4D4;
    --text-color-6:#23272F;
    --yellow:#FFC700;
    --color-neutral:#FAFAFA;
    --color-neutral-text:#E0F5F1;
    --color-neutral-disabled:#6C707A;
    --font-primary: 'Poppins', sans-serif;
}

.remove-arrow input::-webkit-inner-spin-button,
.remove-arrow input::-webkit-outer-spin-button {
  display: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body{
    font-family: 'Poppins';
}
