@import "tailwindcss";

@font-face {
  font-family: 'handel-gothic-regular';
  src: url('../../public/fonts/handel-gothic-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.main-logo-style {
  font-family: 'handel-gothic-regular', sans-serif !important;
  font-weight: 100;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #02836F;
  --primary-color: #02836F;
  --white: #fff;
  --text-color-1: #0B090A;
  --text-color-2: #2B2B2B;
  --text-color-3: #808080;
  --text-color-4: #AAA;
  --text-color-5: #D4D4D4;
  --text-color-6: #23272F;
  --yellow: #FFC700;
  --color-neutral: #FAFAFA;
  --color-neutral-text: #E0F5F1;
  --color-neutral-disabled: #6C707A;
  --color-azure: #212529;
}

.remove-arrow input::-webkit-inner-spin-button,
.remove-arrow input::-webkit-outer-spin-button {
  display: none;
}

@media (min-width: 1414px) and (max-width: 1450px) {
  .mx-auto-1414-1450 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Poppins';
  background-color: #FAFAFA;
}

.bullet-dot {
  background-color: #ccc;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}